 *{
    padding: 0;
    margin: 0;
 }
 body {
   /* height:auto;
   background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%); */
   background-color: #74EBD5;
   background-image: linear-gradient(90deg, #74EBD5 0%, #9FACE6 100%);
   
 }
/* Css for the navbar  */
#navbar{
    height:80px;
    background-color: #CC9900;
    overflow: hidden;
    position: fixed;
    width: 100%;
    top: 0;
    /* z-index: 1000;  */
    /* To ensure the navigation bar is on top of other elements */

     
     
 }
 html{
   scroll-behavior: smooth;
   scroll-padding-top: 100px;
 }
 .link{ 
   
    margin-right: 200px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: white;
 }
 a:hover {
   transform: scale(1.5); /* Increase size on hover */
   color:rgb(11, 27, 250); /* Change link color on hover */
   text-shadow: 0 0 5px rgba(246, 243, 242, 0.7); /* Add a subtle glow effect */
}
 #slogan{
    color: white;
    font-size: 20px;
    text-align: center;
    margin-top: 23px;
 
 }

 .section {

    width: 100%;
    height: auto;
    /* padding: 20px; */
    text-align: center;
    margin-top: 100px; /* To create space for the fixed navigation bar */
}

#section_details{
   text-align: left;
   margin-left: 10px;
   size: 35px;
}
#upper{
    height: 410px;
    /* background-color: #04ce815e;  */
    width: 100%;
    display:flex;
    flex-direction: row;
    justify-content:space-between;
    background-size: cover;
    background-image: url("pics/about_us.jpg");
    
   
 }

  
 .front_pic_box img{
   width: 100%;
   height: 100%;
   border: 2px solid  rgb(245, 120, 25); 
   border-radius: 5%;
}
 .front_pic_box{
    border: 1px solid rgb(245, 120, 25);
    border-radius: 10%;
    height: 300px;
    width: 350px;
    display: inline-block;
    margin-bottom: 0;
    margin-top: 100px;
     
 }
  
 .overview_para{
   width: 100%;
   height: auto;
 }
  
 #para_overview{
    font-size: 20px;
    font-family:'Times New Roman', Times, serif;
    margin-left: 10px;
    text-align: left;
 }
 #heading{
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 10px;
    text-align: left;
 }

 .pic_left{
    margin: 10px;
    float: left;
    width:40%;
    border: 2px solid  rgb(245, 120, 25); 
   border-radius: 5%;
 
 }
 .para_right{
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    margin: 10px;
    text-align: left;
 
 }
 .pic_right{
     margin: 10px;
     float:right;
     width: 40%;
     border: 2px solid  rgb(245, 120, 25); 
     border-radius: 5%;
 }
 .para_left{
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    margin: 10px;
    text-align: left;
 }
  
 #front_pic{
    height: 400px;
    width: 40%;
 }
  
 .pos_block{
   height: 450px;
   width: 90%; 
 }
 #footer_index{
    height: 75px;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:  #37475A;
 
 }
 #footer_para{
    color: white;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
 }
 #footer_source{
    margin-left: 10px;
    color: white;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    text-align:left;
 }
 #footer_about_us{
    /* position: fixed;  */
    height: 75px;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:  #37475A;
 }

  


  /* css for gallery section */
  .pic_gallery{
   
   height: 400px; 
   width: 100%;
   display:flex;
   flex-direction: row;
   justify-content:space-between;
   
  
 }
 #place_name{
  font-size: 30px;
  ;text-align: center;
 }
 .pic_box{
  border-radius: 5%;
  height: 300px;
  width: 350px;
  border: 2px solid rgb(245, 120, 25);
  display: inline-block;
  margin-bottom: 0;
  margin-top: 20px;
 }
 .pic_box img{
   width: 100%;
   height: 100%;
   border: 2px solid  rgb(245, 120, 25); 
   border-radius: 5%;
 
 }



/* css for official link */

#official_div{
   /* background-color: #55BCC9; */
   width: 100%;
   height: auto;
  }
  #official_heading{
   text-align: left;
   font-size: 30px;
   margin-left: 10px;
   font-family: 'Times New Roman', Times, serif;
   
  }
  #official_para_details{
   
   margin-left: 10px;
   font-size: 20px;
   font-family:'Times New Roman', Times, serif;
   text-align: left;
   color:black;
  }
  #official_link_details{
 
   margin-left: 10px;
   font-size: 20px;
   font-family: 'Times New Roman', Times, serif;
   text-align: left;
   color:red;
   }

   #link_box3{
     margin-right: 10%;
     background-image: url("pics/ministrylogo.png");
     background-size: cover;
     opacity: 0.9;
     
   } 
   #link_box1{
      margin-left: 10%;
      background-image: url("pics/budhalogo.png");
      background-size: cover;
    
   }
   #link_box2{
      background-image: url("pics/irctc_logo.png");
      background-size: cover;
   }


/* css for the reach sction */
#reach_div{
    
   width: 100%;
   height: auto;
  }
  #place{
   margin-left: 10px;
   font-size: 30px;
   font-family: 'Times New Roman', Times, serif; 
   color:rgb(245, 9, 9);  
   text-align: left;
  }
  #place_details{
   margin-left: 10px;
   font-size: 17px;
   font-family:Arial, Helvetica, sans-serif; 
   color:rgb(0, 0, 0);  
   text-align: left;
  }


/* media query for section home part */

 /* media queries for responsive */
 @media (min-width:350px) and (max-width:550px) {
    

   #navbar{
      height:80px; 
      width: 100%;
   }
   .link{ 
      margin-right: 10px;
   }
    
   #slogan{
      
      font-size: 20px;
      text-align: center;
      margin-top: 23px;
   
   }

    #upper{
       flex-direction: column;
       width: 110%;
       height: 600px;
   }
   .link{ 
   
      margin-right: 150px;
      font-size: 18px;
      
   }
  
   
   .front_pic_box{
    border-radius: 10%;
    height: 30%;
    width: 80%;
    border: 1px solid rgb(245, 120, 25);
    display: block;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5px;
    margin-top: 5px;
 }
 .front_pic_box img{
    width: 100%;
    height: 100%;
 }
 .para_right{
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    margin: 2px;
 
 }
 .para_left{
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    margin: 2px;
 }
 .pos_block{
    height: 650px; 
  }
    .link{ 
       margin-top: 5px;
       margin-right: 20px;
       font-size: 15px;
        
    } 
    #slogan{
       font-size: 12px;
       margin-top: 18px;
    
    }
 
    #footer_para{
       font-size: 10px;  
    }
    #footer_source{
       margin-bottom: 10px;
       margin-left: 2px;
       font-size: 10px;
        
    }
    #details_para{
       margin-left: 0px;
       font-size: 15px;
    }
    #footer_about_us{
      width: 100%;
      }
   #official_para_details{
      font-size: 17px;
   }
     
 }
 
  @media (min-width:550px)and (max-width:770px){
    .pos_block{
       height: 650px; 
     }
    .link{ 
       margin-top: 5px;
       margin-right: 25px;
       font-size: 15px;
        
    } 
    #slogan{
        font-size: 18px;
        margin-top: 20px;
    }
 
    #footer_para{
       font-size: 15px;
     }
    #footer_source{
       margin-bottom: 10px;
       margin-left: 8px;
       font-size: 15px;
    } 
    
   #reach_div{
     height: auto;
   }
     
  }
 
  @media (min-width:770px) and (max-width:1024px){
    
    .pos_block{
       height: 550px; 
     }.link{ 
       margin-top: 5px;
       margin-right: 40px;
       font-size: 20px;
        
    } 
    #slogan{
       font-size: 20px; 
       margin-top: 20px;
    }
 
    #footer_para{
       color: white;
       font-size: 15px;
    }
    #footer_source{
       margin-bottom: 10px;
       margin-left: 8px;
       font-size: 15px; 
    } 
     
  }
 
  @media (min-width:1024px){
    .link{ 
       margin-top: 5px;
       margin-right: 90px;
       font-size: 20px;
        
    } 
    #slogan{
       font-size: 20px; 
       margin-top: 20px;
    }
 
    #footer_para{
       font-size: 15px;
     }
    #footer_source{
       margin-bottom: 10px;
       margin-left: 8px;
       font-size: 15px; 
    } 
    
  }


   /* media queries for responsive */
 @media (min-width:350px) and (max-width:550px) {
   .pic_gallery{
       height: 800px; 
       width: 100%;
       display:flex;
       flex-direction:column;
       justify-content:space-between;
      }
      .pic_box{
       margin-top: 5px;
       display: block;
       margin-left: auto;
       margin-right: auto;
       width: 85%;
       height: 190px;
      }
   .link{ 
      margin-top: 5px;
      margin-right: 20px;
      font-size: 15px;
       
   } 
   #slogan{
      font-size: 12px;
      margin-top: 18px;
   
   }

   #footer_para{
      font-size: 10px;  
   }
   #footer_source{
      margin-bottom: 10px;
      margin-left: 2px;
      font-size: 10px;
       
   }
   #details_para{
      margin-left: 0px;
      font-size: 15px;
   }
    
}

 @media (min-width:550px)and (max-width:770px){
   .pic_gallery{
       height: 1700px; 
       width: 100%;
       display:flex;
       flex-direction:column;
       justify-content:space-between;
      }
       .pic_box{
       height: 400px;
       margin-top: 10px;
       display:block;
       margin-left:15%;
       margin-right: 15%;
       width: 70%;
      } 
   
 }
 /* media query for section home part */

 /* media queries for responsive */
 @media (min-width:350px) and (max-width:550px) {
  
    #upper{
       flex-direction: column;
       width: 100%;
       height: 600px;
   }
   .front_pic_box{
    border-radius: 10%;
    height: 30%;
    width: 80%;
    border: 1px solid rgb(245, 120, 25);
    display: block;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5px;
    margin-top: 5px;
 }
 .front_pic_box img{
    width: 100%;
    height: 100%;
 }
 .para_right{
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    margin: 2px;
 
 }
 .para_left{
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    margin: 2px;
 }
 .pos_block{
    height: 650px; 
  }
     
  
 }
 
  @media (min-width:550px)and (max-width:770px){
    .pos_block{
       height: 650px; 
     }
     
  }
 
  @media (min-width:770px) and (max-width:1024px){
    
    .pos_block{
       height: 550px; 
     } 
     
  }
 
   

   
 
 


 