*{
    padding: 0;
    margin: 0;
    color: black;
 
  }
  #navbar{
     height:80px;
     background-color: #CC9900;
      
      
  }
  .link{ 
    
     margin-right: 200px;
     font-size: 20px;
     font-family: Arial, Helvetica, sans-serif;
     text-decoration: none;
     color: white;
  } 
  #slogan{
     color: white;
     font-size: 20px;
     text-align: center;
     margin-top: 23px;
  
  }
  #footer_para{
     color: white;
     font-size: 15px;
     font-family: 'Times New Roman', Times, serif;
     text-align: center;
  }
  #footer_source{
     margin-left: 10px;
     color: white;
     font-size: 15px;
     font-family: 'Times New Roman', Times, serif;
     text-align:left;
  }
  #footer_other_all{
     /* position: fixed; */
     height: 75px;
     left: 0;
     bottom: 0;
     width: 100%;
     background-color:  #37475A;
  }
  .pic_gallery{
    height: 400px; 
    width: 100%;
    display:flex;
    flex-direction: row;
    justify-content:space-between;
    
   
  }
  #place_name{
   font-size: 30px;
   margin-left: 10px;
  }
  .pic_box{
   border-radius: 5%;
   height: 300px;
   width: 350px;
   border: 1px solid rgb(245, 120, 25);
   display: inline-block;
   margin-bottom: 0;
   margin-top: 20px;
  }

  #box1{
      background-image: url("pics/budha2.jpg");
      background-size: cover;
  }
  #box2{
      background-image: url("pics/bodhG1.jpg");
      background-size: cover;
  }
  #box3{
      background-image: url("pics/bodhG3.jpg");
      background-size: cover;
  }
  #box4{
      background-image: url("pics/bodhG2.jpg");
      background-size: cover;
  }
  #box5{
      background-image: url("pics/budhG7.jpg");
      background-size: cover;
  }
  #box6{
      background-image: url("pics/budhG6.jpg");
      background-size: cover;
  }
  #box7{
   background-image: url("pics/budhG5.jpg");
   background-size: cover;
  }
  #box8{
   background-image: url("pics/bodhG4.jpg");
      background-size: cover;
  }
  #box9{
   background-image: url("pics/rajgir3.jpeg");
      background-size: cover;
  }
  #box10{
   background-image: url("pics/rajgir2.jpeg");
      background-size: cover;
  }
  #box11{
   background-image: url("pics/rajgir1.jpeg");
      background-size: cover;
  }
  #box12{
   background-image: url("pics/rajgir4.jpg");
      background-size: cover;
  }
  #box13{
   background-image: url("pics/barabar3.jpg");
      background-size: cover;
  }
  #box14{
   background-image: url("pics/barabar2.jpg");
      background-size: cover;
  }
  #box15{
   background-image: url("pics/barabar4.jpg");
      background-size: cover;
  }
  #box16{
   background-image: url("pics/barabar5.jpg");
      background-size: cover;
  }
  #box17{
   background-image: url("pics/patna5.JPG");
      background-size: cover;
  }
  #box18{
   background-image: url("pics/patna4.jpeg");
      background-size: cover;
  }
  #box19{
   background-image: url("pics/patna3.jpg");
      background-size: cover;
  }
  #box20{
   background-image: url("pics/patna2.jpeg");
      background-size: cover;
  }
  #box21{
   background-image: url("pics/nalanda2.jpg");
      background-size: cover;
  }
  #box22{
   background-image: url("pics/nalanda3.avif");
      background-size: cover;
  }
  #box23{
   background-image: url("pics/nalanda4.jpg");
      background-size: cover;
  }
  #box24{
   background-image: url("pics/nalanda1.jpg");
      background-size: cover;
  }

  #box25{
   background-image: url("pics/vaisha14.jpeg");
      background-size: cover;
  }
  #box26{
   background-image: url("pics/vaisha13.jpeg");
      background-size: cover;
  }
  #box27{
   background-image: url("pics/vaisha12.jpeg");
      background-size: cover;
  }
  #box28{
   background-image: url("pics/vaisha11.jpeg");
      background-size: cover;
  }
  #box29{
   background-image: url("pics/vaishali21.jpeg");
      background-size: cover;
  }
  #box30{
   background-image: url("pics/vaishali22.jpeg");
      background-size: cover;
  }
  #box31{
   background-image: url("pics/vaishali23.jpeg");
      background-size: cover;
  }
  #box32{
   background-image: url("pics/vaishali24.jpeg");
      background-size: cover;
  }


   /* media queries for responsive */
 @media (min-width:350px) and (max-width:550px) {
    .pic_gallery{
        height: 800px; 
        width: 100%;
        display:flex;
        flex-direction:column;
        justify-content:space-between;
       }
       .pic_box{
        margin-top: 10px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 85%;
       }
    .link{ 
       margin-top: 5px;
       margin-right: 20px;
       font-size: 15px;
        
    } 
    #slogan{
       font-size: 12px;
       margin-top: 18px;
    
    }
 
    #footer_para{
       font-size: 10px;  
    }
    #footer_source{
       margin-bottom: 10px;
       margin-left: 2px;
       font-size: 10px;
        
    }
    #details_para{
       margin-left: 0px;
       font-size: 15px;
    }
     
 }
 
  @media (min-width:550px)and (max-width:770px){
    .pic_gallery{
        height: 1700px; 
        width: 100%;
        display:flex;
        flex-direction:column;
        justify-content:space-between;
       }
        .pic_box{
        height: 400px;
        margin-top: 10px;
        display:block;
        margin-left:15%;
        margin-right: 15%;
        width: 70%;
       } 
    .link{ 
       margin-top: 5px;
       margin-right: 25px;
       font-size: 15px;
        
    } 
    #slogan{
        font-size: 18px;
        margin-top: 20px;
    }
 
    #footer_para{
       font-size: 15px;
     }
    #footer_source{
       margin-bottom: 10px;
       margin-left: 8px;
       font-size: 15px;
    } 
     
  }
 
  @media (min-width:770px) and (max-width:1024px){
    .link{ 
       margin-top: 5px;
       margin-right: 40px;
       font-size: 20px;
        
    } 
    #slogan{
       font-size: 20px; 
       margin-top: 20px;
    }
 
    #footer_para{
       color: white;
       font-size: 15px;
    }
    #footer_source{
       margin-bottom: 10px;
       margin-left: 8px;
       font-size: 15px; 
    } 
     
  }
 
  @media (min-width:1024px){
    .link{ 
       margin-top: 5px;
       margin-right: 90px;
       font-size: 20px;
        
    } 
    #slogan{
       font-size: 20px; 
       margin-top: 20px;
    }
 
    #footer_para{
       font-size: 15px;
     }
    #footer_source{
       margin-bottom: 10px;
       margin-left: 8px;
       font-size: 15px; 
    } 
    
  }